@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);
body {
  padding: 0;
  margin:0;
  font-family: 'Roboto',sans-serif;
  font-weight: 300; }

@keyframes example {
    0% {margin-top: 0;}
    50% {margin-top: 25px;}
    100% {margin-top: 0;}
}
.angular-logo{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  vertical-align: top;
  padding: 1% 20px;
  z-index:-1;
  svg{
    opacity: 0.1;
    max-height: 290px;
    vertical-align: top;
    top: 0;
    max-width: 15%;
    transition: all 1s;
    animation: example 5s infinite;
  }
  &:hover svg{
    opacity: 0.2;
  }
}
