h1{
  text-align: center;
  font-weight: 300; }

ul.list-group {
  list-style: none;
  margin: 20px auto;
  padding: 0;
  text-align: center;
  transition: opacity 1s;
  &.not-active{
    opacity:0.2;
  }
  li {
    display: inline-block;
    padding: 10px;
    background: #FFEB3B;
    margin: 0 5px;
    transform: skewX(7deg) skewY(2deg);
    cursor:pointer;
  }
}
